<div class="row">
  <div class="col-sm-8 col-sm-push-2">
    <h3>
      <span id="liveness-indicator" class="label palette-asbestos">&hellip;</span>
      <%= (channel.name || "Not Found") %>
      <% if (!_.isUndefined(channel) && !_.isUndefined(req.session.user) && channel.owner.id === req.session.user.id) { %>
        <a href="#" id="modifyChannel" data-channel-id="<%= channel.id %>" data-channel-name="<%= channel.name %>" data-channel-description="<%= channel.description %>"><span class="fui-new"></span></a>
      <% } %>
    </h3>
    <% if ( !_.isUndefined(channel) && channel.id) { %>
      <span id="currentChannelId" style="display:none;"><%= channel.id %></span>
    <% } %>

    <!-- Determine whether user on the watch page is a a broadcaster.
         Broadcasters will have option to click on video container & given option to start video
    -->
    <% if (!_.isUndefined(channel) && !_.isUndefined(req.session.user) && channel.owner.id === req.session.user.id) { %>
      <div id="localVideoContainer">
        <div class="container-fluid">
          <button disabled type="button" class="btn btn-lg btn-embossed btn-danger" id="addVideo">
            <span class="fui-video"></span> Start Video</button>
        </div>
    <% } else { %>
      <div id="localVideoContainer">
    <% } %>
      <video id="localVideo" width="640" height="480" controls hd="1" autoplay autohide="2"></video>
    </div>
    <div class="row h6">
      <div class="col-sm-4">
        <span class="fui-eye"></span> <strong id="viewers">33</strong>
        <span class="fui-user"></span> <strong id="peers">0</strong>
      </div>
    </div>
    <!--
      <h4>Description</h4>
      <p>For those who can't come to lecture</p>
    -->
  </div>
</div>

<%- partial('../partials/channel_modify.ejs') %>
